#aboutintro {
  background-image: url("../img/bikerteam.jpg");
  height: 100%;
  text-align: center;
  line-height: 5;
  background-size: 100% 100%;
  border-top: 10px black solid;
  border-bottom: 10px solid black;
}

#aboutinfo {
  background-color: #1ab188;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

#contactdiv {
  width: 100%;
}

#addressdiv {
  width: 45%;
  float: left;
  text-align: center;
}

#mapdiv {
  width: 45%;
  height: 50%;
}
