form {
  text-align: left;
}
#storeintro{
  background-image: url("../img/store.jpg");
  height:100%;
  text-align: center;
  line-height: 5;
  background-size: 100% 100%;
}

#storeinfo{
height: 100%;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
    clear: right;
}

#gallery li {
  float: left;
  width: 25%;
  margin: 2.5%;
  background-color: red;
  color: black;
}
.bikes4sale {
  width: 100%;
  height: 40%;
}
.costs {
  padding: 2.25vh;
}
.showbike {
  height: 75%;
  width: 80%;
}
#wrapper {
  overflow: auto;
}

#laborDescription {
  width: 50%;
  height: 75vh;
  float: right;
  overflow: auto;
}
#laborCosts {
  width: 50%;
  height: 75vh;
  float: left;
  overflow: auto;
}
#clickedBike {
  position: fixed;
  left: 5%;
  top: 20%;
  right: 5%;
  background-color: black;
  height: 70%;
  width: 90%;
  display: none;
}
#close {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 10%;
  width: 5%;
  background-color: red;
  border-radius: 5%;
}
