#volSubmit {
  background-color: #1ab188;
}

#updateHoursForm {
  display: none;
}

#updateHoursDiv {
  display: none;
}

#chartContainer {
  height: 400px;
}

#volunteerintro {
  background-image: url("../img/volunteer.jpg");
  height:120%;
  text-align: center;
  vertical-align: middle;
  background-size: 100% 100%;
  border-top: 20px solid black;
  border-bottom: 20px solid black;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#volunteerHeading{
  font-size: 9vh;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #b3e0ff;
  font-family: 'Rock Salt', sans-serif;
}

#volunteerinfo {
  width: 75%;
  background: body-bg;
  font-family: 'Titillium Web', sans-serif;
  padding-left: 3%;
  padding-bottom: 2%;
  display: inline-block;
  vertical-align: top;
}

#volunp{
  background-color: white;
  opacity: .8;
  width: 58%;
  margin: 0 auto;
  margin-top: 0;
  border: 1px solid black;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
}

#volunp > p {
  opacity: 1;
}

#showShiftsButton {
  background: #1ab188;
}
#volContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120%;
}
#volFormDiv {
  flex: 1;
  width: 45%;
}
#shiftAvailDiv {
  flex: 1;

}
#shiftAvail {
  /*display: none;*/
  margin: 0;
}

.hiddenShift {
  display: none;
}

#chartContainer {display: none;}

#volThank {
  display:none;
  text-align: center;
}

#volNamePara {
  text-transform: uppercase;
}

#volunteerListHeading {
  text-align: center;
  margin: 0;
  padding: 3%;
  font-size: 3.5vh;
}

#volunteerListDiv {
  width: 100%;
}

#volunteerListing {
  display: inline-block;
  height: 80vh;
  width: 18%;
  /*overflow: scroll;*/
  margin-top: 2%;
  vertical-align: top;
}

.volListDiv {
  font-size: 2.7vh;
  margin-top: 6%;
  margin-bottom: 6%;
  padding: 2% 6% 2% 20%;
  border-top: 2px green solid;
  border-bottom: 2px green solid;
}

.volListDiv > p {
  margin-top: 0;
  margin-bottom: 0;
}

.whitetext {color: white;}
